<section class="pages">
  <div class="schedule-top">
    <h2 class="__article--title">Schedule for <%=@cur_month%> <%=@cur_year%></h2>
  </div>
  <div class="clearfix"></div>
  <% @pages.each do |page| %>
    <div class="description typography--AREA"> 
      <div class="__schedule--title">
        <%= link_to page.title, pg_path(Gollum::Page.cname(page.name)) %>
      </div>
      <div class="__schedule--date">
        <%if page.end.nil? || page.start == page.end %>
          <%= page.start.strftime("%e %B %k:%M")%>
        <%else%>
          <%= page.start.strftime("%e %B %k:%M")%> - <%=page.end.strftime("%e %B %k:%M")%>
        <%end%>
      </div>
    </div>
  <% end%>
</section>
