<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>FlorianKasper.org</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="author" content="Florian Kasper">
  <meta name="description" content="<%= @meta[:description] || 'my blog about all interesting things in technology.' %>">
  <meta name="keywords" content="<%= @meta[:keywords] ? @meta[:keywords].join(',') : 'ruby,html,dart,scala,javascript,coffeescript,redmine,gollum' %>">
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="gMnbWeEF0gJFe3XMioTGY75yGX2ypxKLfQckVsox6cM" />
  <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon-iphone.png') %>" />
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('apple-touch-icon-ipad.png') %>"  />
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('apple-touch-icon-iphone4.png') %>" />
  <link rel='icon' type='image/png' href="<%= asset_path('favicon.png') %>">
  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-nav __heading--main">
    <div class="upper-nav __heading--sub-main">
      <h1 class="__heading--title typography--PRIMARY-HEADING">Florian Kasper</h1>
    </div>
    <div class="lower-nav __heading--sub-secondary">
      <ul class="nav-bar __heading--icons">
        <li><%= link_to index_schedules_path do%><i class="fa fa-calendar"></i><% end%></li>
        <li><a href="https://github.com/nirnanaaa"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/officiallyzyg"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </nav>
  
  <div class="body">
    <div class="inner">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
